# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FYP.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mccon\OneDrive\Documents\GitHub\Final-Year-Project\FYP\.idea\.idea.FYP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
